@import "tailwindcss";

/* Custom Loading Spinner */
.loader {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-left-color: #d97706;
  border-radius: 90%;
  width: 120px;
  height: 120px;
  animation: outeranim 1s linear infinite;
}

.loader .inner {
  border: 2px solid #92400e;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-top: 43px;
  margin-left: 43px;
  animation: inneranim 1s ease-in-out infinite;
}

@keyframes outeranim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes inneranim {
  0% {
    scale: 1;
    border-radius: 5px;
  }

  50% {
    scale: 1.2;
    border-radius: 12px;
  }

  100% {
    scale: 1;
    border-radius: 5px;
  }
}
